fastapi # backend framework
uvicorn[standard] # run FastAPI as HTTP server

sqlalchemy # ORM - mapping python classess to SQL tables
psycopg2-binary # PostgreSQL driver
alembic==1.18.4 # database migration

python-jose[cryptography] # JWT token
passlib[bcrypt]==1.7.4 # password hash
bcrypt==4.1.2

pydantic-settings # .env loading

python-multipart # form data, file uploads
email-validator # pydantic email validation

python-dotenv